@import url("https://fonts.googleapis.com/css?family=Raleway:300,500,800&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  cursor: none;
}
li{font-family: "Raleway", sans-serif;
  list-style: none;
  padding-top: 1vh;
}
a{font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #002d40;;
  cursor: pointer;
}
a::after{
  content: "  \261A";
}
.arrow {
  z-index: 999;
  position: absolute;
  display: block;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-color: #d9ecf2;
  transform-style: preserve-3d;
  pointer-events: none;
}
[data-nav]:hover {
  color: #ff414d;
  /* text-shadow: 20px 20px 60px #d93741, -20px -20px 60px #ff4b59; */
}
[data-nav="About"]:hover {
  color: #1aa6b7;
  /* text-shadow: 20px 20px 60px #14808d, -20px -20px 60px #20cce1; */
}
[data-nav="Contact"]:hover {
  color: #002d40;
  /* text-shadow: 20px 20px 60px #002331, -20px -20px 60px#00374f; */
}
[data-nav="Portfolio"]:hover {
  color: #d9ecf2;
  /* text-shadow: 20px 20px 60px #a7b6ba, -20px -20px 60px #ffffff; */
}
[data-nav="Home"]:hover {
  color: #1AA6B7;
  /* text-shadow: 20px 20px 60px #a7b6ba, -20px -20px 60px #ffffff; */
}
[data-nav]:hover:before {
  content: "<";
}
[data-nav]:hover:after {
  content: "/>";
}
.arrowsmall {
  animation: arrowsmall 0.2s forwards;
}
@keyframes arrowsmall {
  from {
    width: 10vh;
    height: 10vh;
  }
  to {
    width: 2vh;
    height: 2vh;
  }
}
.arrowbig {
  animation: arrowbig 0.5s forwards;
}
@keyframes arrowbig {
  to {
    width: 10vh;
    height: 10vh;
  }
}
.spinme {
  animation: spinme 0.5s infinite linear;
}
@keyframes spinme {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homepage {
  perspective: 1500px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    150deg,
    rgba(0, 45, 64, 1) 40%,
    rgba(26, 166, 183, 1) 100%
  );
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(8, 12.5vh);
  -ms-overflow-style: none;
}
.body::-webkit-scrollbar {
  display: none;
}
.line {
  position: absolute;
  left: -35vw;
  top: 0vw;
  display: block;
  height: 50px;
  width: 65vw;
  background: linear-gradient(
    90deg,
    rgba(217, 236, 242, 1) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skew(-30deg, 60deg);
}
.teamPlayer {
  z-index: 10;
  position: absolute;
  top: -120vw;
  left: 0;
  width: 500vw;
  height: 10vh;
  background-image: url("SVGtext/teamPlayer.svg");
  transform: skew(30deg, -30deg);
  animation: text 10s infinite alternate;
  background-repeat: repeat-x;
  transition: ease-in-out;
}
.Artist {
  position: absolute;
  top: -110vw;
  left: 0;
  width: 500vw;
  height: 10vh;
  background-image: url("SVGtext/ARTIST.svg");
  transform: skew(30deg, -30deg);
  animation: text 10s infinite alternate-reverse;
  background-repeat: repeat-x;
  transition: ease-in-out;
}
.Coding {
  z-index: 10;
  position: absolute;
  top: -140vw;
  left: 0;
  width: 500vw;
  height: 10vh;
  background-image: url("SVGtext/coding.svg");
  transform: skew(30deg, -30deg);
  animation: text 10s infinite alternate;
  background-repeat: repeat-x;
  transition: ease-in-out;
}
.anEye {
  position: absolute;
  top: -130vw;
  left: 0;
  width: 500vw;
  height: 10vh;
  background-image: url("SVGtext/anEye.svg");
  transform: skew(30deg, -30deg);
  animation: text 10s infinite alternate-reverse;
  background-repeat: repeat-x;
  transition: ease;
}
@keyframes text {
  to {
    transform: translate(-90vw, 100vh) skew(30deg, -30deg);
  }
}
.about {
  grid-row: 3;
  grid-column: 1;
  width: 30vw;
  margin-left: 10vw;
}

@keyframes lineIn {
  from {
    transform: skew(-30deg, 60deg) translate(-200vw, 0);
  }
}

.navigation {
  z-index: 9999;
  font-weight: 300;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  padding-left: 24vw;
  font-size: 4rem;
  color: #f46a79;
  text-transform: uppercase;
  grid-row: 5;
  grid-column: 7;
  white-space: nowrap;
}
.navigation h2 {
  padding-top: 0.5vh;
}
.navanimation {
  opacity: 0;
  animation: navText 0.5s 0.2s ease-in-out forwards;
}
.navanimation1 {
  opacity: 0;
  animation: navText 0.5s 0.3s ease-in-out forwards;
}
.navanimation2 {
  opacity: 0;
  animation: navText 0.5s 0.4s ease-in-out forwards;
}
.navanimation3 {
  opacity: 0;
  animation: navText 0.5s 0.5s ease-in-out forwards;
}
@keyframes navText {
  from {
    transform: translatex(100%);
  }
  to {
    opacity: 1;
  }
}
svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.one,
.two,
.three,
.four {
  display: none;
}

.cv,
.aboutP,
.contentC,
.PortfolioC,
.homepage {
  perspective: 1500px;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 12.5vw);
  grid-template-rows: repeat(10, 12.5vh);
  -ms-overflow-style: none;
}
.homepage{
  background-color: #d9ecf2;
  clip-path: url(#CVclip5);
  z-index: 600;
}
.cv {
  
  background-color: #ff414d;
  clip-path: url(#CVclip1);
  z-index: 500;
}
.aboutP {
  background-color: #1aa6b7;
  clip-path: url(#CVclip2);
  z-index: 501;
}
.contentC {
  background-color: #002d40;
  clip-path: url(#CVclip3);
  z-index: 502;
}
.PortfolioC {
  background-color: #d9ecf2;
  clip-path: url(#CVclip4);
  z-index: 503;
}
[data-color="Home"]{
  background-color: #f46a79;
}
[data-color="Portfolio"]{
  background-color: #ff414d;
}
[data-color="CV"]{
  background-color: #1aa6b7;
}
[data-color="About"]{
  background-color: #002d40;
}
[data-color="Contact"]{
  background-color: #d9ecf2;
}
[data-img="profile"] {
  background-image: url(jpgassets/me.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 6;
}
.aboutTitle {
  font-size: 5rem;
  white-space: nowrap;
  grid-column: 2;
}
.goal{
  padding-left: 2rem;
  font-size: 1rem;
  grid-column: 4;
  grid-column-end: 6;
  grid-row: 2;
}
[data-nav-state="active"]{
  display: none;
}

.title{
  display: none;
  text-align: right;
  grid-column: 7;
  grid-row: 2;
  font-size: 5rem;
  color: #002D40;
  animation: navText 0.5s ease-in-out forwards;
}

[data-title="About"]{color:#002d40}
[data-title="CV"]{color:#f46a79;}
[data-title="Contact"]{color:  #d9ecf2}

.title::before{
  content: "~";
}

.headersFPort{
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  height: 240vh;
  padding-top: 25vh;
  padding-bottom: 25vh;
  justify-content: space-around;
}

.PortfolioTitle:hover:before{
content: "./";
}

.PortfolioTitle{
  font-size: 4rem;
  color: #002D40;
  scroll-snap-type: y proximity;
}

.portfolioArticle{
  padding: 5vh;
  grid-row-start: span 200;
  grid-column: 0;
  width: 40vw;
  padding-top: 5vh;
  margin-bottom: 25vh;
  height: auto;
  overflow: scroll;
  z-index: 20;
}

.portfolioArticle::-webkit-scrollbar {
  display: none;
}
/*///////////////////*/

.PortfolioCard{
grid-column: 5;
grid-row: 3;
margin-bottom: 5vh;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr 1.5fr;
 border-radius: 1vh;
 width: 20vw;
 height: 30vw;
 box-shadow:20px 20px 60px #b8c9ce, 
             -20px -20px 60px #faffff;
             position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  animation: float 5s infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  clip-path: url(#CVclip6);
}

@keyframes float{
    0% {
      box-shadow: 0 5px -15px 0px rgba(0,0,0,0.6);
      transform: rotateY(-5deg) rotateX(-6deg);
    }
    100% {
      box-shadow: 0 5px 5px 0px rgba(0,0,0,0.6);
      transform: rotateY(5deg) rotateX(6deg);
    }
}
.PortfolioCard-text{
  display: grid;
  text-align: center;
  grid-template-rows: 10% 20% 25%;
  padding: 2vh;
}
[data-header]{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portParagr{
  font-size: 1.5rem;
}
.PortfolioCard-text > ul > li{
  font-size: 1.2rem;
  font-weight: 800;
} 
.PortfolioCard-text > ul {
  padding-top: 5vh;
}  

[data-page="Portfolio"] > .line{
  z-index: 0;
  width: 100vw;
  background-color: #ff414d;
  transform: rotate(-40deg) translatey(35vh) translateX(-20vw);
}
.scroll{
  position: absolute;
  bottom: 2vh;
  left: 20vw;
  width: 5vw;
  height: auto;
  transform: translateX(-50%);
  z-index: -1;
  animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  100% {
    transform: translateY(20%) translateX(-50%);
  }
}